@import "vars";

@media screen and (max-width: 1120px) {
  .container {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 850px) {
  .limon__general {
    justify-content: center;
    flex-wrap: wrap;
  }
  .limon__header {
    text-align: center;
  }
  .limon__paragraph {
    margin: 0 0 1rem 0px;
  }
  .blog__head {
    text-align: center;
  }
  .grid__header {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .header__button {
    display: block;
    cursor: pointer;
  }

  .header__nav {
    // display: none;
    width: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: $main-color;
    transition: all 0.5s ease;
  }

  .js-menu-show {
    display: block;
    top: 100px;
  }

  .header__list {
    flex-direction: column;
  }
  .header__items {
    margin: 0;
  }
  .header__items a {
    text-align: center;
    display: block;
    padding: 15px;
    border-radius: 0;
    margin: 0;
  }
  .header__list:hover:active {
    background-color: white;
  }
  .header__items:first-child {
    margin-top: 20px;
  }
}
