@import "../vars";

.collection {
  &__inner {
    padding: 150px 0;
    text-align: center;
  }

  &__title {
    margin: 0 0 100px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $darkest-color;
    text-align: center;
  }
  &__btn {
    position: relative;
    margin-top: 103px;
    padding-right: 94px;
    padding-top: 6px;
    text-decoration: none;
    color: $light;
  }
  &__btn::after {
    position: absolute;
    content: "";
    width: 220px;
    height: 55px;
    right: 35px;
    top: -10px;
    z-index: -1;
    background-image: url(../../images/new-item__button.png);
    background-position: center;
  }
}
