@import "../vars";

.cart {
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  &__img {
    margin-right: 15px;
  }

  &__informer {
    display: inline-block;
    background-color: $accent-color;
    padding: 5px 13px;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
  }
}
